/*----Fonts----*/
@font-face {
  font-family: "Open";
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "NeoBold";
  src: url(../fonts/UTM-Neo-Sans-IntelBold.ttf);
}

@font-face {
  font-family: "NeoRegu";
  src: url(../fonts/UTM-Neo-Sans-Intel.ttf);
}

@font-face {
  font-family: "Habano";
  src: url(../fonts/UTM-Habano.ttf);
}

@font-face {
  font-family: "Isadora";
  src: url(../fonts/UTM-IsadoraR.ttf);
}

@font-face {
  font-family: "Cookie";
  src: url(../fonts/utm-cookies.ttf);
}

@font-face {
  font-family: "Myriad";
  src: url(../fonts/MYRIADPRO-REGULAR.OTF);
}

@font-face {
  font-family: "MyriadBold";
  src: url(../fonts/MYRIADPRO-BOLD.OTF);
}

@font-face {
  font-family: "Caviar";
  src: url(../fonts/UTM-Caviar.ttf);
}

@font-face {
  font-family: "Mautim";
  src: url(../fonts/MauTim2.TTF);
}

@font-face {
  font-family: "Primary";
  src: url(../fonts/KGPrimaryItalics.ttf);
}

/*----Color----*/
/*----End Color----*/
/*----Header---*/
#header{
    font-family:Open;
    font-size: 0.94em;
    font-weight: 400 !important;
}
#header .row {
  margin: 0;
}
#logo{
  padding: 15px 0px;
}

#header #logo img {
  width: 85%;
  height: 100%;
  cursor: pointer;
}
#header #header-left img{
  width: 100%;
}
#header h4 {
  font-family: "NeoBold";
  font-size: 22px;
  color: #ec268f;
  margin: 0;
  text-align: center;
  letter-spacing: 1px;
}
#header #header-left,
#header .col-lg-5 {
  margin: auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
}
#header .form_login-icon{
    display: flex;
    width: 100%;
    margin: auto 0;
    align-items: center;
    padding: 0 5px;
}
#header .form_login-icon i{
  margin-right: 10px;
}
#header #header-left ::-webkit-input-placeholder,
#header .col-lg-5 ::-webkit-input-placeholder {
  padding-left: 10px;
}

#header #header-left :-ms-input-placeholder,
#header .col-lg-5 :-ms-input-placeholder {
  padding-left: 10px;
}

#header #header-left ::-ms-input-placeholder,
#header .col-lg-5 ::-ms-input-placeholder {
  padding-left: 10px;
}

#header #header-left ::placeholder,
#header .col-lg-5 ::placeholder {
  padding-left: 10px;
}

#header #header-left input,
#header .col-lg-5 input {
  height: auto;
  background-color: transparent;
  border: none;
  width: 60%;
  border: 1px solid grey;
}

#header #header-left a,
#header .col-lg-5 a {
  background-color: #00a859;
  padding: 2px 6px;
  color: white;
  border: none;
  font-family: "NeoBold";
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
}

#header #header-left #language,
#header .col-lg-5 #language {
  background-color: transparent;
  padding: 0;
}

#header #nav-header {
  background-color: #ebebeb;
  text-align: center;
  margin-bottom: 0;
  padding: 0;
}

#header #nav-header li {
  list-style: none;
  display: inline-block;
}

#header #nav-header li a {
  display: inline-block;
  padding: 10px 15px;
  font-size: 14px;
  font-family: NeoBold;
  color:black;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1.23px;
  transition: all 0.3s ease-in;
  line-height: 1;
  cursor: pointer;
}

#header #nav-header li a:hover {
  color: white;
}

#header #nav-header .active-tab {
  background-color: #00a859;
  color: white;
}

#header #nav-header li a:hover {
  text-decoration: none;
  background-color: #00a859;
}
#header h4:hover {
  color: #4aa461;
  transition: all 0.3s ease-in;
  cursor: pointer;
}
#header #header-left a:hover {
  color: #4aa461;
  background-color:#3e90c2;
  transition: all 0.2s ease-in;
}
#header #nav-header-collapse {
  display: none;
}
#header #header-left #search{
  display: flex;
    align-items: center;
}
#header #nav-header-collapse #collapse #nav-collapse li a:hover {
  color: white;
}

#header #nav-header-collapse #collapse #nav-collapse li .active-tab {
  color: white;
  background-color: #00a859;
}

/*------end Header----*/
/*----Banner----*/
#banner img {
  width: 100%;
}

#banner [class*="carousel-control"] {
  top: 50%;
  bottom: 50%;
  width: 2%;
}

#banner [class*="carousel-control"] img {
  width: 100%;
  padding: 2px;
}

/*----End Banner----*/
/*----Intro----*/
#intro {
  text-align: center;
  margin: 50px 200px;
}

#intro h3 {
  font-size: 40px;
  font-family: "NeoBold";
  color: #35404a;
}

#intro p {
  font-family: "NeoRegu";
  font-size: 20px;
  color: #282828;
}

#intro span {
  font-size: 24px;
  font-weight: bold;
}

#intro #span-1 {
  font-family: "Cookie";
}

#intro a {
  display: inline-block;
  color: white;
  padding: 6px 20px;
  margin-top: 15px;
  background-color: #a1a1a1;
  border-radius: 10px;
  font-family: "Myriad";
}

/*----End Intro----*/
/*---- Registry---*/
#registry {
  margin: 40px 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#registry a {
  font-family: "NeoBold";
  background-color: #02b7f1;
  color: #282828;
  font-size: 20px;
  border-radius: 10px;
  text-align: center;
}

#registry #regis-1 {
  padding: 20px 80px;
  margin-right: 30px;
}

#registry #regis-2 {
  padding: 20px 58px;
  margin-left: 30px;
}

#registry a:hover {
  text-decoration: none;
}

/*---- End Registry---*/
/*----Field----*/
#field,
#goi-tu-thien {
  position: relative;
}

#field .field-background img,
#goi-tu-thien .field-background img {
  width: 100%;
}

#field p,
#goi-tu-thien p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Myriad";
  font-weight: bold;
  font-size: 36px;
  text-transform: uppercase;
}

#field .field-item,
#goi-tu-thien .field-item {
  position: absolute;
  width: 15%;
  padding: 15px;
  background-color: #ccc;
  text-align: center;
}

#field .field-item img,
#goi-tu-thien .field-item img {
  width: 100%;
}

#field .field-item .text-item,
#goi-tu-thien .field-item .text-item {
  line-height: 1;
  font-family: "NeoRegu";
  font-size: 18px;
  font-weight: 700;
  opacity: .8;
  margin-top: 10px;
}

#field #field-item-1,
#goi-tu-thien #field-item-1 {
  top: 29%;
  left: 3%;
}

#field #field-item-2,
#goi-tu-thien #field-item-2 {
  top: 2%;
  left: 20%;
}

#field #field-item-3,
#goi-tu-thien #field-item-3 {
  width: 18%;
  top: 10%;
  left: 40%;
}

#field #field-item-4,
#goi-tu-thien #field-item-4 {
  top: 55%;
  left: 20%;
}

#field #field-item-5,
#goi-tu-thien #field-item-5 {
  width: 18%;
  top: 65%;
  left: 40%;
}

#field #field-item-6,
#goi-tu-thien #field-item-6 {
  top: 2%;
  left: 64%;
}

#field #field-item-7,
#goi-tu-thien #field-item-7 {
  top: 55%;
  left: 64%;
}

#field #field-item-8,
#goi-tu-thien #field-item-8 {
  top: 29%;
  left: 80%;
}

/*----End Field----*/
/*----News-1----*/
#news-1 {
  position: relative;
}

#news-1 #news-background img {
  width: 100%;
}

#news-1 #more-view {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  color: white;
  text-align: center;
  font-family: "Neoregu";
  font-size: 24px;
  margin-bottom: 20px;
}

#news-1 .news-content {
  position: absolute;
  top: 0;
  margin: 50px 80px 50px 0;
}

#news-1 .news-content .news-item {
  color: white;
  font-family: "NeoRegu";
}

#news-1 .news-content .news-item h5 {
  color: white;
  text-transform: uppercase;
  margin-bottom: -8px;
}

#news-1 .news-content .news-item span {
  color: #898a8a;
}

#news-1 .news-content .news-item p {
  margin-top: 10px;
}

#news-1 .news-content .news-item a:hover {
  text-decoration: none;
}

#news-1 .news-content .news-item-left img {
  width: 100%;
}

#news-1 .news-content .news-item-left h5 {
  font-size: 16px;
  margin-top: 10px;
}

#news-1 .news-content .news-item-left p {
  font-size: 12px;
}

#news-1 .news-content .news-item-left span {
  font-size: 8px;
}

#news-1 .news-content .news-item-right img {
  width: 100%;
}

#news-1 .news-content .news-item-right h5 {
  font-size: 12px;
}

#news-1 .news-content .news-item-right span {
  font-size: 8px;
}

#news-1 .news-content .news-item-right p {
  font-size: 10px;
}

/*----End News-1----*/
/*----Send-info----*/
#send-info {
  position: relative;
}

#send-info .send-info-content {
  position: absolute;
  top: 0;
  padding: 0 90px;
}

#send-info #send-info-bg {
  -webkit-box-shadow: 0 0 1px black;
          box-shadow: 0 0 1px black;
}

#send-info #send-info-bg img {
  width: 100%;
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

#send-info #form-info {
  padding-top: 30px;
}

#send-info #form-info h5 {
  font-family: "NeoBold";
  -webkit-text-stroke: 1px black;
  color: white;
}

#send-info #form-info input {
  width: 90%;
  margin-bottom: 20px;
  padding: 6px 0;
  border: none;
}

#send-info #form-info #send-form {
  color: white;
  background-color: #00afef;
  border: none;
  border-radius: 5px;
  width: 100px;
  padding: 5px 10px;
  margin-right: 10%;
  float: right;
  text-align: center;
}

#send-info #form-info textarea {
  width: 90%;
  height: 120px;
}

#send-info #form-info ::-webkit-input-placeholder {
  font-family: "Myriad";
  font-style: italic;
  font-size: 14px;
  padding-left: 10px;
}

#send-info #form-info :-ms-input-placeholder {
  font-family: "Myriad";
  font-style: italic;
  font-size: 14px;
  padding-left: 10px;
}

#send-info #form-info ::-ms-input-placeholder {
  font-family: "Myriad";
  font-style: italic;
  font-size: 14px;
  padding-left: 10px;
}

#send-info #form-info ::placeholder {
  font-family: "Myriad";
  font-style: italic;
  font-size: 14px;
  padding-left: 10px;
}

#send-info #story {
  padding: 60px 0 0 0;
  padding-left: 50px;
  font-family: "NeoRegu";
}

#send-info a {
  background-color: #00afef;
  padding: 5px 12px;
  border-radius: 5px;
  color: white;
  float: right;
  margin-top: 30px;
  text-decoration: none;
}

#send-info h3,
#send-info p {
  color: white;
  text-shadow: 0 0 5px black;
}

#send-info h3 {
  font-size: 36px;
  text-align: center;
  padding-bottom: 10px;
}

#send-info p {
  font-size: 16px;
  font-family: "NeoBold";
  letter-spacing: 1.5px;
}

/*----End Send-info----*/
/*----Partner----*/
#partner {
  padding: 50px 100px;
}

#partner [class*="col"] {
  margin: auto 0;
}

#partner img {
  width: 60%;
}
#partner_section-1{
  background-color: #C2D8B9;
  min-height: 375px;
}
#partner_section-1 .title,
#partner_section-2 .title{
  margin-bottom: 30px;
}
.bg-section-title{
  background-image: url(../images/heart-icon.png);
  background-size: 50px;
    background-position: center left 30px;
    background-repeat: no-repeat;
    color: #fff;
    padding-right: 50px;
    background-color: #00afef;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    max-width: 420px;
    margin: 0 auto;
    padding-left: 86px;
    font-size: 1.2rem;
}
h2.bg-section-title::after {
  content: '';
  background-image: url(../images/bottom_arrow.png);
  width: 100%;
  position: absolute;
  top: 100%;
  height: 50px;
  left: 0;
  background-size: 100%;
  background-repeat: no-repeat;
}
#partner_section-2 img{
  width: 50%;
}
#partner_section-2 img:hover{
  transform: scale(1.1);
}
.slick-slide {
  outline: none;
}
#partner_section-2 .partner_slick-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 120px;
}
#partner_section-2 .showAll{
  padding: 0 10%;
}

/*----End Partner----*/
/*----Footer----*/
#footer {
  background-color: #1AA5DD;;
  padding: 2%;
  line-height: 1.6;
  color: white;
}

#footer .row {
  padding: 0;
}

#footer img {
  width: 85%;
}

#footer .contact-info h4 {
  font-family: "NeoBold";
}

#footer .contact-info p,
#footer .contact-info p a {
  font-family: "Myriad";
  color: white;
  margin-bottom: 5px;
  font-size: 14px;
}
#footer .contact-info .social{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footer .contact-info .social img {
  width: 40px;
  height: 40px;
  border-radius: .25rem;
  
}
#footer .social a:hover img{
  transform: scale(1.2);
}

#footer .contact-info .social .social-item {
  padding: 0;
}

#footer .link-footer a {
  display: block;
  color: white;
  font-family: "NeoRegu";
  font-size: 16px;
  margin-bottom: 5px;
}

#footer .link-footer a:hover {
  text-decoration: none;
  text-shadow: 0 0 1px #898a8a;
  color: #af2e29;
  transition: all 0.3s ease-in;
}

/*----End Footer---*/
/*----We----*/
#we {
  margin: 20px 80px;
}

#we img {
  width: 85%;
}

#we .nav-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#we .nav-tabs li {
  margin-bottom: 5px;
  color: white;
}

#we .nav-tabs li a {
  position: relative;
  color: inherit;
}

#we .nav-tabs li a p {
  width: 100%;
  color: inherit;
  position: absolute;
  top: 50%;
  left: 75%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 24px;
  font-family: "NeoBold";
  letter-spacing: 1px;
}

#we .nav-tabs .active {
  color: #fffb94;
}

#we .tab-content {
  padding-left: 30px;
  padding-top: 30px;
  background-color: #ebebeb;
  position: relative;
  font-family: "NeoRegu";
}

#we .tab-content h3 {
  color: #00a859;
  margin-bottom: 30px;
  font-size: 28px;
  letter-spacing: 2px;
  font-weight: 600;
}

#we .tab-content p {
  text-indent: 30px;
  font-size: 20px;
}

#we .tab-content a {
  position: absolute;
  background-color: #00a859;
  padding: 8px 35px;
  border-radius: 15px;
  bottom: 10%;
  right: 10%;
  color: white;
}

#we-768 {
  display: none;
}

/*----End We----*/
/*----My Team-----*/
#my-team {
  text-align: center;
}

#my-team img {
  width: 100%;
}

#my-team h2 {
  font-family: "NeoRegu";
  font-size: 40px;
  margin: 50px 0;
  color: #35404a;
}

/*----End My Team-----*/
/*----Goi tu thien----*/
#goi-tu-thien {
  position: relative;
}

#goi-tu-thien .field-background img {
  width: 100%;
}

#goi-tu-thien .field-background::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
}

#goi-tu-thien .goi-tu-thien-text {
  position: absolute;
  display: none;
  z-index: 2;
  top: 27%;
  left: 25%;
  width: 50%;
}

#goi-tu-thien .goi-tu-thien-text img {
  width: 100%;
}

#goi-tu-thien .goi-tu-thien-text .inner-text {
  position: absolute;
  font-family: "Primary";
  font-size: 20px;
  top: 50px;
  width: 80%;
  margin-left: 10%;
  font-weight: 500;
}

#goi-tu-thien .nhan-tu-thien {
  position: absolute;
  bottom: 5%;
  right: 5%;
  color: white;
  font-size: 24px;
  padding: 6px 10px;
  background-color: #00afef;
  border-radius: 10px;
  font-family: "Myriad";
}

#goi-tu-thien .nhan-tu-thien i {
  font-size: 26px;
}

/*----End Goi tu thien----*/
/*----Call Rise----*/
#call-rise {
  background-color: #ebebeb;
  padding: 100px 0;
}

#call-rise #call-icon {
  position: absolute;
  width: 10%;
  top: -10%;
  left: 22%;
}

#call-rise .call-rise-text {
  margin-bottom: 50px;
  position: relative;
  padding: 0 200px;
  text-align: center;
  font-family: "Myriad";
}

#call-rise .call-rise-text h4 {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 50px;
}

#call-rise .call-rise-text p {
  font-size: 24px;
}

#call-rise .call-rise-list {
  padding: 0 60px;
}

#call-rise .call-rise-list .call-rise-item {
  padding: 0 25px;
}

#call-rise .call-rise-list .call-rise-item img {
  width: 100%;
  border-top-left-radius: 15px;
}

#call-rise .call-rise-list .call-rise-item .call-title {
  background-color: #00afef;
  border-bottom-right-radius: 15px;
  color: white;
  padding: 10px 0;
}

#call-rise .call-rise-list .call-rise-item .call-title p {
  margin-bottom: 0;
  padding: 0 10px;
  font-size: 24px;
  font-family: "NeoRegu";
  text-align: center;
}

#call-rise #more {
  float: right;
  padding: 6px 10px;
  background-color: #00afef;
  border-radius: 10px;
  color: white;
  margin-top: 40px;
  margin-right: 70px;
}

/*----End Call Rise----*/
/*----Link Rise----*/
#link-rise {
  position: relative;
  font-family: "Myriad";
}

#link-rise .link-rise-bg img {
  width: 100%;
}

#link-rise .link-content {
  position: absolute;
  top: 0;
  padding: 30px;
}

#link-rise .link-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

#link-rise .link-item img {
  width: 80%;
}

#link-rise .link-item .link-title {
  display: inline-block;
  background-image: url(../images/link-invite-bg-1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-size: 30px;
  color: white;
  text-align: center;
  margin: auto 0;
  padding: 12px 60px;
}

#link-rise .link-item .link-title-3 {
  background-image: url(../images/link-invite-bg-4.png);
}

#link-rise .link-item .link-title-2 {
  background-image: url(../images/link-invite-bg-3.png);
}

#link-rise .link-item input {
  background-image: url(../images/link-invite-bg-2.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: none;
  outline: none;
  margin: auto 0;
  padding: 20px;
  width: 360px;
  background-color: transparent;
}

#link-rise .link-item ::-webkit-input-placeholder {
  color: #898a8a;
  font-size: 20px;
  opacity: .8;
}

#link-rise .link-item :-ms-input-placeholder {
  color: #898a8a;
  font-size: 20px;
  opacity: .8;
}

#link-rise .link-item ::-ms-input-placeholder {
  color: #898a8a;
  font-size: 20px;
  opacity: .8;
}

#link-rise .link-item ::placeholder {
  color: #898a8a;
  font-size: 20px;
  opacity: .8;
}

/*----End Link Rise----*/
/*----Gioi thieu chung----*/
#gioi-thieu-chung {
  font-family: "Myriad";
  padding: 30px 0 50px 0;
  margin: 0 180px;
}

#gioi-thieu-chung h4 {
  font-family: "Open";
  text-align: center;
  color: #00a859;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 30px;
}

#gioi-thieu-chung p {
  text-indent: 30px;
  font-size: 20px;
}

/*----End Gioi thieu chung----*/
/*----Hay tham gia----*/
#hay-tham-gia {
  margin-bottom: 50px;
  font-family: "NeoRegu";
}

#hay-tham-gia .text {
  text-align: center;
  padding: 40px 150px 80px;
}

#hay-tham-gia .text h4 {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 500;
}

#hay-tham-gia .text p {
  font-size: 24px;
  font-weight: 500;
}

#hay-tham-gia .content-items {
  padding: 0 50px;
}

#hay-tham-gia .content-items img {
  width: 60%;
}

#hay-tham-gia .content-items .item {
  text-align: center;
  border-right: 1px solid #898a8a;
}

#hay-tham-gia .content-items .item h5 {
  margin-top: 20px;
  text-transform: uppercase;
  font-family: "NeoBold";
}

#hay-tham-gia .content-items .item p {
  font-size: 15px;
}

#hay-tham-gia .content-items .item .tablet {
  display: none;
  text-transform: uppercase;
  color: white;
  padding: 4px 10px;
  border-radius: 10px;
  background-color: #00afef;
  font-size: 14px;
}

#hay-tham-gia .content-items .trao-doi {
  border: none;
}

#hay-tham-gia .registry {
  text-align: center;
}

#hay-tham-gia .registry a {
  text-transform: uppercase;
  color: white;
  padding: 4px 18px;
  border-radius: 10px;
  background-color: #00afef;
  font-size: 14px;
}

/*----End Hay tham gia----*/
/*----Tro thanh nguoi tai tro----*/
#become {
  font-family: "NeoRegu";
  background-color: #ebebeb;
}

#become .become-title {
  padding: 50px 0;
  text-align: center;
  position: relative;
}

#become .become-title img {
  position: absolute;
  top: 20%;
  left: 28%;
  width: 7%;
}

#become .become-title h4 {
  font-family: "NeoBold";
  font-size: 26px;
  font-weight: bold;
  color: #648fbf;
  text-transform: uppercase;
}

#become .become-title p {
  font-size: 20px;
  margin: 0 445px;
  line-height: 25px;
  font-weight: 600;
}

#become .become-list-item {
  padding: 30px 80px 30px 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
}

#become .item {
  position: relative;
}

#become .item img {
  width: 110%;
}

#become .item #bg-1 {
  width: 90%;
  float: right;
  margin-right: -15px;
}

#become .item .item-content {
  color: white;
  position: absolute;
  left: 30%;
  top: 0;
  -webkit-transform: translate(-20px);
          transform: translate(-20px);
  text-align: center;
}

#become .item .item-content h4 {
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
  font-size: 50px;
  margin: 10px 0;
  font-family: "Myriad";
  font-weight: bold;
}

#become .item .item-content p {
  font-size: 20px;
}

#become .item a {
  position: absolute;
  bottom: 2%;
  left: 52%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: black;
  background-color: #ebebeb;
  padding: 4px 8px;
  border-radius: 10px;
  font-family: "Myriad";
  font-size: 14px;
  text-align: center;
  width: 100px;
}

#become .item #login {
  padding: 4px 16px;
}

/*----End Tro thanh nguoi tai tro----*/
/*----Tro thanh nguoi nhan----*/
#receiver {
  margin: 40px 0;
}

#receiver .title {
  margin-bottom: 40px;
  font-family: "NeoRegu";
  text-align: center;
}

#receiver .title img {
  width: 15%;
}

#receiver .title h4 {
  color: #00a859;
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 10px;
}

#receiver .title p {
  font-size: 24px;
}

#receiver .receiver-content {
  font-family: "Myriad";
}

#receiver .receiver-item {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#receiver .receiver-item span {
  font-size: 110px;
  line-height: 70%;
  font-family: "MyriadBold";
  color: #00a859;
}

#receiver .receiver-item .text-item-1 {
  background-color: #fbcc5d;
}

#receiver .receiver-item .text-item-2 {
  background-color: #fbaf5d;
}

#receiver .receiver-item .text-item-3 {
  background-color: #ff8041;
}

#receiver .receiver-item .text-item-4 {
  background-color: #09bdff;
}

#receiver .receiver-item .text-item-5 {
  background-color: #9ee5ff;
}

#receiver .receiver-item p {
  margin-bottom: 5px;
  border-radius: 5px;
  padding: 10px 10px;
}

#receiver .receiver-item p.text-item-1 {
  padding: 10px 10px;
}

#receiver .receiver-item a {
  display: block;
  border-radius: 5px;
  text-align: center;
  color: black;
  padding: 2px 6px;
}

#receiver #first-item {
  margin-left: 8.33%;
}

/*----End Tro thanh nguoi nhan----*/
/*---Tai tro truc tiep - Trao doi----*/
#truc-tiep {
  position: relative;
  font-family: "NeoRegu";
}

#truc-tiep img {
  width: 100%;
}

#truc-tiep .content {
  color: white;
  position: absolute;
  width: 80%;
  top: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#truc-tiep .title {
  text-align: center;
}

#truc-tiep .title h4 {
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 1px;
}

#truc-tiep .title p {
  font-size: 20px;
  padding: 0 15%;
}

#truc-tiep .item {
  text-align: center;
}

#truc-tiep .item img {
  width: 33.33%;
}

#truc-tiep .item p {
  font-size: 16px;
  padding: 0 15px;
}

#truc-tiep .item a {
  font-family: "Myriad";
  font-size: 14px;
  padding: 6px 30px;
  background-color: #00a859;
  border-radius: 15px;
  color: white;
}

#trao-doi {
  padding-left: 0px;
  position: relative;
}

#trao-doi .bg img {
  width: 100%;
}

#trao-doi .content {
  position: absolute;
  top: 0;
  width: 105%;
  text-align: center;
  margin: 10px 0;
}

#trao-doi .content img {
  display: block;
  margin: 0 auto;
  width: 33.33%;
  padding: 30px 0;
}

#trao-doi .content h4 {
  font-family: "NeoBold";
  font-size: 30px;
}

#trao-doi .content p {
  padding: 0 20%;
  font-family: "NeoRegu";
  font-size: 16px;
}

#trao-doi .content a {
  display: inline-block;
  padding: 6px 30px;
  background-color: #00a859;
  border-radius: 15px;
  font-size: 14px;
  color: white;
}

/*---End Tai tro truc tiep - Trao doi----*/
/*----Link----*/
#link-bt {
  position: relative;
}

#link-bt img {
  width: 100%;
}

#link-bt .link-content {
  position: absolute;
  width: 100%;
  padding: 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 55%;
}

#link-bt .item {
  text-align: center;
}

#link-bt .item p {
  font-family: "NeoRegu";
  font-size: 20px;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 30px;
  letter-spacing: 1px;
  font-weight: bold;
}

#link-bt .item span {
  text-transform: uppercase;
  font-size: 24px;
}

#link-bt .item a {
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  background-color: #00afef;
  border-radius: 15px;
  text-transform: uppercase;
}

/*----Link----*/
#our-story {
  padding: 0 150px 100px 150px;
}

#our-story .banner img {
  width: 100%;
}

#our-story h4 {
  text-align: center;
  font-family: "Open";
  font-size: 35px;
  font-weight: bold;
  color: #00a859;
  margin: 30px 0;
}

#our-story p {
  text-indent: 30px;
  font-family: "Myriad";
  font-size: 25px;
}

#partner-page {
  text-align: center;
  padding-bottom: 30px;
}

#partner-page #loi-ich {
  padding: 0 150px;
  background-color: #ebebeb;
  border-bottom: 1px solid #00afef;
  padding-bottom: 30px;
}

#partner-page .item-list {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#partner-page .item-list img {
  width: 60%;
}

#partner-page .item-list .item {
  width: 33.33%;
}

#partner-page .item-list .item-title {
  width: 60%;
  margin: 0 auto;
}

#partner-page .item-list .item-title p {
  margin-top: 30px;
  font-family: "NeoBold";
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 120%;
}

#partner-page .loi-ich {
  padding-top: 30px;
  background-color: white;
}

#partner-page .loi-ich-item {
  font-family: "Myriad";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  padding-bottom: 30px;
}

#partner-page .loi-ich-item img {
  margin-left: 50px;
  margin-right: 50px;
}

#partner-page .loi-ich-item p {
  display: inline;
  margin: auto 0;
  text-align: left;
  font-size: 25px;
  padding-right: 40px;
}

#partner-page #doi-tac-tieu-bieu p {
  font-family: "Myriad";
  font-size: 30px;
  margin-bottom: 0;
}

#partner-page #doi-tac-tieu-bieu .list-partner {
  margin-top: 50px;
}

#partner-page #doi-tac-tieu-bieu .list-partner .nav {
  padding: 0 80px;
}

#partner-page #doi-tac-tieu-bieu .list-partner .nav a {
  padding: 6px 30px;
  color: #0464ae;
  border-radius: 25px;
  font-family: "NeoBold";
  font-size: 24px;
}

#partner-page #doi-tac-tieu-bieu .list-partner .nav a:hover {
  text-decoration: none;
  color: white;
  background-color: #0464ae;
}

#partner-page #doi-tac-tieu-bieu .list-partner .nav .active {
  background-color: #0464ae;
  color: white;
}

#partner-page #doi-tac-tieu-bieu .list-partner .tab-content {
  margin: 50px 120px;
}

#partner-page #doi-tac-tieu-bieu .list-partner .tab-content img {
  width: 90%;
}

#partner-page #doi-tac-tieu-bieu .list-partner .tab-content .item {
  margin-left: 20%;
}

#partner-page #doi-tac-tieu-bieu .owl-dots {
  display: none;
}

#partner-page #doi-tac-tieu-bieu .owl-nav .owl-prev {
  position: absolute;
  top: 35%;
  left: -12%;
  outline: none;
}

#partner-page #doi-tac-tieu-bieu .owl-nav .owl-next {
  position: absolute;
  top: 35%;
  right: -10%;
  outline: none;
}

#partner-page #doi-tac-tieu-bieu .owl-nav span {
  background: #0464ae;
  font-size: 80px;
  border-bottom: 24px solid #0464ae;
  /* box-shadow: 0 0px 0 black; */
  position: absolute;
  line-height: 30%;
}

#link-partner {
  background-image: url(../images/link-keu-goi-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0 80px;
}

#loi-moi {
  padding: 30px 0;
}

#loi-moi img {
  width: 50%;
}

#loi-moi h4 {
  font-family: "NeoBold";
  font-size: 30px;
  padding-right: 50px;
  text-align: center;
  color: white;
  letter-spacing: 1px;
}

#keu-goi {
  text-align: right;
}

#keu-goi .dang-ky {
  margin-bottom: 20px;
  margin-top: 20px;
}

#keu-goi .dang-ky a {
  padding: 4px 16px;
  color: white;
  background-color: #00afef;
  border-radius: 15px;
  font-family: "NeoBold";
  font-size: 24px;
  text-transform: uppercase;
}

#keu-goi .dang-ky img {
  width: 5%;
  left: 100%;
  margin-bottom: 10px;
}

#keu-goi .moi-tai-tro {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

#keu-goi .moi-tai-tro p {
  position: absolute;
  color: white;
  top: 50%;
  right: 15%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding-left: 40%;
  text-align: center;
  font-size: 20px;
  font-family: "NeoBold";
}

#keu-goi .moi-tai-tro span {
  text-transform: uppercase;
}

#keu-goi .moi-tai-tro img {
  width: 50%;
}

#keu-goi .moi-tai-tro #img-1 {
  margin-right: -70px;
}

#keu-goi .moi-tai-tro #img-2 {
  width: 60%;
}

#keu-goi .chuong-trinh {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#keu-goi .chuong-trinh .ct-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

#keu-goi .chuong-trinh .ct-item img {
  border-top-left-radius: 15px;
  width: 90%;
  border: 1px solid white;
  border-bottom: none;
  border-top: none;
}

#keu-goi .chuong-trinh .ct-item .ct-title {
  margin-bottom: 30px;
  display: block;
  margin-left: 10%;
  text-align: center;
  background-color: #00afef;
  padding: 10px 0;
  color: white;
  border-bottom-right-radius: 15px;
  font-family: "Caviar";
  border: 1px solid white;
  border-top: none;
}

#main-contact {
  padding: 40px 80px;
}

#main-contact .content-left .item {
  position: relative;
}

#main-contact .content-left .item img {
  width: 90%;
}

#main-contact .content-left .text {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 10%;
  -webkit-transform: translatey(-50%);
          transform: translatey(-50%);
}

#main-contact .content-left .text img {
  width: 14%;
  margin-left: 10px;
}

#main-contact .content-left .text p {
  width: 100%;
  font-size: 20px;
  font-family: "NeoRegu";
  color: white;
  margin-bottom: 5px;
  line-height: 100%;
}

#main-contact .content-right {
  font-family: "Myriad";
  text-align: center;
}

#main-contact .content-right h4 {
  font-size: 36px;
  color: #00a859;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 600;
}

#main-contact .content-right form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main-contact .content-right input {
  margin-bottom: 15px;
  border: none;
  background-color: #def6ff;
  padding: 16px 0;
}

#main-contact .content-right textarea {
  background-color: #def6ff;
  height: 180px;
  border: none;
}

#main-contact .content-right ::-webkit-input-placeholder {
  padding-left: 20px;
  font-size: 16px;
}

#main-contact .content-right :-ms-input-placeholder {
  padding-left: 20px;
  font-size: 16px;
}

#main-contact .content-right ::-ms-input-placeholder {
  padding-left: 20px;
  font-size: 16px;
}

#main-contact .content-right ::placeholder {
  padding-left: 20px;
  font-size: 16px;
}

#main-contact .content-right #send-contact {
  background-color: #00afef;
  width: 20%;
  border-radius: 25px;
  margin: 0 auto;
  margin-top: 15px;
  display: inline-block;
  color: white;
  padding: 6px 20px;
  font-size: 20px;
}

#news-main-1 {
  background-color: white;
  padding: 20px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#news-main-1 .nav-tabs {
  font-family: "Myriad";
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25%;
  border: none;
  margin-right: 30px;
}

#news-main-1 .nav-tabs li {
  background-color: #ec268f;
  margin-bottom: 5px;
}

#news-main-1 .nav-tabs li a {
  display: block;
  color: white;
  font-size: 24px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#news-main-1 .nav-tabs li #search-icon {
  padding: 0;
}

#news-main-1 .nav-tabs li a:hover {
  text-decoration: none;
}

#news-main-1 .search-bar {
  background-color: #ec268f;
  border: 3px solid #ec268f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#news-main-1 .search-bar input {
  padding: 5px;
  width: 80%;
}

#news-main-1 .image img {
  width: 100%;
}

#news-main-1 .tab-content {
  width: 100%;
  font-family: "Myriad";
  color: white;
}

#news-main-1 .tab-content .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 40px;
  background-color: #d81460;
}

#news-main-1 .tab-content .title h4 {
  margin-bottom: 0;
  margin: auto 20px;
  text-transform: uppercase;
  font-family: "NeoRegu";
}

#news-main-1 .tab-content .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

#news-main-1 .tab-content .item .news-image {
  width: 30%;
}

#news-main-1 .tab-content .item .news-image img {
  width: 80%;
}

#news-main-1 .tab-content .item .news-link {
  width: 70%;
}

#news-main-1 .tab-content .item .news-link h4 {
  color: #8a0438;
  margin-bottom: -5px;
}

#news-main-1 .tab-content .item .news-link p {
  color: black;
}

#news-main-1 .tab-content .item .news-link span {
  color: #898a8a;
}

#news-main-1 .tab-content .item .news-link a {
  padding: 6px 20px;
  background-color: #00afef;
  color: white;
  border-radius: 25px;
  float: right;
}

#news-main-2 {
  margin-left: 60px;
  margin-right: 60px;
  color: white;
  font-family: "Myriad";
}

#news-main-2 .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #d81460;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0;
}

#news-main-2 .title h4 {
  margin: auto 0;
  text-transform: uppercase;
  padding-left: 30px;
}

#news-main-2 .title img {
  width: 6%;
}

#news-main-2 .content-carousel {
  color: white;
  margin: 20px 0;
  padding: 40px 30px;
  background-color: #8a0438;
  border-radius: 15px;
}

#news-main-2 .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#news-main-2 .item .news-image-2 {
  width: 100%;
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
}

#news-main-2 .item h4 {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: -3px;
  text-transform: uppercase;
}

#news-main-2 .item span {
  color: #898a8a;
  font-size: 12px;
}

#news-main-2 .item p {
  font-size: 14px;
  margin-top: 5px;
}

#news-main-2 .item a {
  width: 40%;
  color: white;
  padding: 6px 20px;
  border-radius: 25px;
  font-family: "Caviar";
  background-color: #00afef;
  font-size: 16px;
  margin-left: 60%;
}

#news-main-2 .item a img {
  width: 25%;
  display: inline-block;
}

#news-main-2 .owl-dots {
  display: none;
}

#news-main-2 .owl-prev,
#news-main-2 .owl-next {
  position: absolute;
  color: white;
  outline: none;
}

#news-main-2 .owl-prev:hover,
#news-main-2 .owl-next:hover {
  background-color: transparent;
}

#news-main-2 .owl-next {
  top: 30%;
  right: -3%;
  font-size: 70px;
}

#news-main-2 .owl-prev {
  top: 30%;
  left: -3%;
  font-size: 70px;
}

#cac-goi-tu-thien {
  background-color: #d81460;
  font-family: "Myriad";
  margin: 40px 60px;
}

#cac-goi-tu-thien .title {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#cac-goi-tu-thien .title img {
  margin: 0 30px;
}

#cac-goi-tu-thien .title h4 {
  margin: auto 0;
  color: white;
  font-size: 24px;
  text-transform: uppercase;
}

#cac-goi-tu-thien .selected {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#cac-goi-tu-thien .selected select {
  width: 95%;
  margin: 15px 0;
  color: #898a8a;
  padding: 0 10px;
  border: none;
}

#cac-goi-tu-thien .selected img {
  position: absolute;
  top: 40%;
  right: 7%;
  width: 4%;
}

#in-the-media {
  margin: 0 60px;
  margin-bottom: 40px;
}

#in-the-media .title {
  background-image: url(../images/in-the-media-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  min-height: 74px;
  font-family: "Myriad";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
}

#in-the-media .title h4 {
  color: white;
  padding-left: 20%;
  margin: auto 0;
  text-transform: uppercase;
  font-size: 24px;
}

#in-the-media .content-carousel {
  margin-left: 80px;
}

#in-the-media .item {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 1px solid #d81460;
}

#in-the-media .item img {
  width: 45%;
  margin-top: 10px;
}

#in-the-media .item h4 {
  color: #d81460;
  font-size: 18px;
  margin-top: 8px;
  margin-bottom: 3px;
}

#in-the-media .item span {
  color: #898a8a;
  font-size: 14px;
}

#in-the-media .item a {
  padding: 6px 20px;
  background-color: #00afef;
  width: 120px;
  border-radius: 25px;
  margin-top: 30px;
  color: white;
}

#in-the-media .owl-dots {
  display: none;
}

#in-the-media .owl-next,
#in-the-media .owl-prev {
  position: absolute;
  font-size: 70px;
  outline: none;
}

#in-the-media .owl-prev:hover,
#in-the-media .owl-next:hover {
  background-color: transparent;
  color: black;
}

#in-the-media .owl-next {
  top: 0%;
  right: 0%;
}

#in-the-media .owl-prev {
  top: 0%;
  left: calc(0% - 80px);
}

.main {
  background-color:transparent;
}

#form-trao,
#form-nhan {
  border-radius: 25px;
  position: relative;
  background-color: #fff;
}

#form-trao .row,
#form-nhan .row {
  position: relative;
}

#form-trao .row .require,
#form-nhan .row .require {
  position: absolute;
  right: 0;
  color: red;
}

#form-trao .title img,
#form-trao .footer-form img,
#form-nhan .title img,
#form-nhan .footer-form img {
  position: absolute;
  width: 100%;
}

#form-trao .title #header-form-bg,
#form-trao .footer-form #header-form-bg,
#form-nhan .title #header-form-bg,
#form-nhan .footer-form #header-form-bg {
  top: 30px;
  left: 47px;
}

#form-trao .title #footer-form-bg,
#form-trao .footer-form #footer-form-bg,
#form-nhan .title #footer-form-bg,
#form-nhan .footer-form #footer-form-bg {
  bottom: 30px;
  left: -47px;
}

#form-trao .title h1,
#form-trao .footer-form h1,
#form-nhan .title h1,
#form-nhan .footer-form h1 {
  width: 100%;
  text-align: center;
  color: white;
  top: 40px;
}

#form-trao .title h1,
#form-trao .title h4,
#form-trao .title a,
#form-trao .footer-form h1,
#form-trao .footer-form h4,
#form-trao .footer-form a,
#form-nhan .title h1,
#form-nhan .title h4,
#form-nhan .title a,
#form-nhan .footer-form h1,
#form-nhan .footer-form h4,
#form-nhan .footer-form a {
  position: absolute;
  text-transform: uppercase;
}

#form-trao .title h4,
#form-trao .footer-form h4,
#form-nhan .title h4,
#form-nhan .footer-form h4 {
  bottom: 50px;
  left: 30px;
  color: white;
  font-size: 24px;
}

#form-trao .title a,
#form-trao .footer-form a,
#form-nhan .title a,
#form-nhan .footer-form a {
  display: block;
  bottom: 50px;
  color: black;
  background-color: white;
  text-decoration: none;
  padding: 8px 30px;
  border-radius: 15px;
  font-family: "Open";
  font-weight: bold;
  font-size: 20px;
}
#form-trao .footer-form a:nth-child(2),
#form-nhan .footer-form a:nth-child(2) {
  right: 60px;
}
#form-trao .content-form,
#form-nhan .content-form {
  font-family: "NeoRegu";
  padding-top: 200px;
  padding-left: 47px;
  padding-right: 47px;
  padding-bottom: 120px;
}

#form-trao .form-item,
#form-nhan .form-item {
  margin-bottom: 30px;
}

#form-trao .text,
#form-nhan .text {
  width: 85%;
  padding: 10px 30px;
  position: relative;
  font-size: 20px;
}

#form-trao #text-1,
#form-trao #text-4,
#form-trao #text-10,
#form-trao #text-13,
#form-trao #text-14,
#form-trao #text-16,
#form-trao #text-17,
#form-nhan #text-1,
#form-nhan #text-4,
#form-nhan #text-10,
#form-nhan #text-13,
#form-nhan #text-14,
#form-nhan #text-16,
#form-nhan #text-17 {
  background-color: #ffd3ea;
}

#form-trao #text-1::after,
#form-trao #text-4::after,
#form-trao #text-10::after,
#form-trao #text-13::after,
#form-trao #text-14::after,
#form-trao #text-16::after,
#form-trao #text-17::after,
#form-nhan #text-1::after,
#form-nhan #text-4::after,
#form-nhan #text-10::after,
#form-nhan #text-13::after,
#form-nhan #text-14::after,
#form-nhan #text-16::after,
#form-nhan #text-17::after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 20px solid #ffd3ea;
}

#form-trao #text-2,
#form-trao #text-5,
#form-trao #text-8,
#form-trao #text-11,
#form-trao #text-15,
#form-nhan #text-2,
#form-nhan #text-5,
#form-nhan #text-8,
#form-nhan #text-11,
#form-nhan #text-15 {
  background-color: #b0eaff;
}

#form-trao #text-2::after,
#form-trao #text-5::after,
#form-trao #text-8::after,
#form-trao #text-15::after,
#form-nhan #text-2::after,
#form-nhan #text-5::after,
#form-nhan #text-8::after,
#form-nhan #text-15::after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 20px solid #b0eaff;
}

#form-trao #text-11::after,
#form-nhan #text-11::after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 20px solid #b0eaff;
}

#form-trao #text-3,
#form-trao #text-6,
#form-trao #text-7,
#form-trao #text-9,
#form-trao #text-12,
#form-trao #text-18,
#form-nhan #text-3,
#form-nhan #text-6,
#form-nhan #text-7,
#form-nhan #text-9,
#form-nhan #text-12,
#form-nhan #text-18 {
  background-color: #d4ffd4;
}

#form-trao #text-3::after,
#form-trao #text-6::after,
#form-trao #text-7::after,
#form-trao #text-9::after,
#form-trao #text-12::after,
#form-trao #text-18::after,
#form-nhan #text-3::after,
#form-nhan #text-6::after,
#form-nhan #text-7::after,
#form-nhan #text-9::after,
#form-nhan #text-12::after,
#form-nhan #text-18::after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 20px solid #d4ffd4;
}

#form-trao .option select,
#form-nhan .option select {
  width: 100%;
  padding: 10px 0;
  border: none;
  background-color: #ebebeb;
  margin-bottom: 30px;
  color: #898a8a;
}

#form-trao .option .option-1,
#form-nhan .option .option-1 {
  padding-left: 20px;
}

#form-trao .option [type*="text"],
#form-nhan .option [type*="text"] {
  width: 100%;
  border: none;
  background-color: #ebebeb;
  padding: 10px 0;
}

#form-trao .option [type*="checkbox"],
#form-nhan .option [type*="checkbox"] {
  -webkit-transform: scale(2);
          transform: scale(2);
  margin-left: 8px;
}

#form-trao .option .checkbox-1,
#form-nhan .option .checkbox-1 {
  margin-bottom: 20px;
}

#form-trao .option #upload-file,
#form-nhan .option #upload-file {
  font-size: 14px;
  display: block;
  color: black;
  text-decoration: none;
  float: right;
  text-align: right;
}

#form-trao .option #upload-file img,
#form-nhan .option #upload-file img {
  width: 20%;
}

#form-nhan #text-11-2 {
  background-color: #b0eaff;
}

#form-nhan #text-11-2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 20px solid #b0eaff;
}
/*# sourceMappingURL=style.css.map */
body{
  src: url(/fonts/UTM-Neo-Sans-Intel.ttf);
  font-family: UTMNeoSans;
}
/* ---start-header--- */
.login_hover-form{
  position: relative;
}
.form-login{
  position: absolute;
  background-color:white;
  top:100%;
  left:0;
  transform: translateX(-27%);
  z-index: 1;
  min-width: 250px;
  color: black;
  padding: 20px;
  display: none;
  font-size: 0.7em;
}
.form-login input{
  width: 100% !important;
}
.form-login button{
  color: white;
  background-color: #03A859 ;
  border-color: #03A859;
}
.login_hover-form:hover .form-login{
  display: block;
}
.form-login .form-check-input{
  width: auto !important;
}
/* ---end-header--- */

/*----start-index-main----*/
#wrapper{
  padding: 0 15%;
}
.fix-home-button {
  position: fixed;
  z-index: 99999;
  bottom: 50px;
  left: 80px;
}
.fix-home-button img {
  width: 50px;
  height: 50px;
}
.messenger{
  position: fixed; 
  right: 50px; 
  bottom: 80px;
  width: 50px;
  height: 50px;
}
/* ---start-section-1--- */
.index-Section-1 img{
  max-height: 350px;
  object-fit:cover;
}
/* ---end-section-1--- */
/* ---start-section-2--- */
.index-Section-2{
  color: #1301ff;
  margin: 20px 0;
}
.index-Section-2 a{
  background-color:#a0a0a0;
  color: white;
  font-size: 20px;
  padding: 10px 30px;
}
.index-Section-2 .rounded{
  border-radius: .6rem !important;
}
/* ---end-section-2--- */
/* ---start-section-3--- */
.index-Section-3{
  margin-bottom: 30px;
}
.index-Section-3 a{
  background-color:#01b7f1;
  color:#35404a;
  padding: 10px 30px;
  font-size: 20px;
}
.index-Section-3 .rounded{
  border-radius: .6rem !important;
}
/* ---end-section-3--- */
/* ---start-section-4--- */
.index-Section-4{
  background-image: url(../images/linh-vuc-bg.jpg);
  min-height: 700px;
  position: relative;
}
.index-Section-4 h3{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.index-Section-4 a{
 color: black;
 text-decoration: none;
}
.index-Section-4 a:hover{
  color: black;
  text-decoration: none;
 }
.index-Section-4 figure{
  margin: 0;
}
.index-Section-4 img{
  max-width: 100%;
  object-fit:cover;
  margin-bottom: 5px;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-gap: 5% 5%;
  transform:translateY(10%);
}
.grid-item {
  background-color: #CCCCCC;
  padding: 10px;
  font-size: 12px;
  text-align: center;
  align-self: center;
  justify-self: center;
  cursor: pointer;
  transition: transform .6s;
  box-shadow: 0 0 6px rgba(35, 173, 255, 1);
}
.grid-item:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: scale(1.02);
}
.item3:hover{
  transform: translateX(60%) scale(1.02);
}
.item4:hover{
  transform: translateY(-80%) scale(1.02);
}
.item5:hover{
  transform: translateX(-60%) scale(1.02);
}
.item8:hover{
  transform: translateY(-40%) scale(1.02);
}
.item1{
  grid-column:2/2;
}
.item2{
  grid-column:4/4;
}
.item3{
  grid-column:1/1;
   transform:translateX(60%);
}
.item4{
  grid-column:3/3;
  transform:translateY(-80%);
}
.item5{
  grid-column:5/5;
  transform:translateX(-60%);
}
.item6{
  grid-column:2/2;
}
.item7{
  grid-column:4/4;
}
.item8{
  grid-column:3/3;
  transform:translateY(-40%);
}
/* ---end-section-4--- */
/* ---start-section-5--- */
.index-Section-5{
  background-color: #D42281;
  min-height: 400px;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 49% 100%, 0 90%);
  position: relative;
  font-size: 0.65rem;
  color: white;
  padding: 40px 0;
}
.index-Section-5 a{
  text-decoration: none;
  color: white;
}
.index-Section-5 a:hover{
  text-decoration: none;
  color: white;
}

.index-Section-5 #more-view{
  position:absolute;
  top:90%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  cursor: pointer;
  font-size: 30px;
}
.index-Section-5 #news a{
  position: absolute;
  background-color: #FC49A6;
  font-size: 34px;
  left:0;
  top:50%;
  transform: translateY(-60%);
  width: 200px;
  height: 87px;
  clip-path: polygon(70% 0, 100% 50%, 70% 100%, 0 100%, 0 0);
}
.index-Section-5 #news a p{
  position: absolute;
    top: 50%;
    left: 35%;
    transform: translateY(-50%);
}
.index-Section-5 img{
  width: 100%;
  height: auto;
}
/* ---end-section-5--- */
/* ---start-section-6--- */
.index-Section-6{
  background-image:url(../images/bg-form-1024x351.jpg);
  position: relative;
  color: white;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit:cover;
  padding: 30px 5%;
  line-height: 1.6;
}

.index-Section-6 h5{
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 600;
  -webkit-text-stroke: 1px black;
}
.index-Section-6 h3{
  font-size: 24px;
}
.index-Section-6 .story{
  text-align: justify;
  font-size: 14px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 1.5px;
  text-shadow: 0 0 5px rgba(0,0,0,1);
}
.index-Section-6 #input-Name , .index-Section-6 #input-Phone  {
  height: 38px;
  border-radius: 0;
}
.index-Section-6 textarea{
  height: 143px;
  padding: 10px;
}
.btn_xemthem-right{
  float: right;
}
.index-Section-6 .btn-primary{
  margin-top: 10px;
  border-radius: 10px !important;
  background-color: #00afef;
  border-color: #00afef;
}
.index-Section-6:hover .btn-primary{
  background-color: #00afef;
  border-color: #00afef;
}
/* ---end-section-6--- */
/* ---start-section-7--- */
.index-Section-7{
  margin: 28px 0;
}
.index-Section-7 img{
  max-height: 280px;
  object-fit:cover;
}
/* ---end-section-7--- */
/*----End-index-menu----*/

/* ---start-cauchuyencuachungtoi--- */
#my-Story-banner{
  background-image: url(../images/banner.jpg);
  min-height: 350px;
  background-size: cover;
}
#my-Story{
  font-family: "Open";
  padding: 10% 12% 15%; 
  background-image: url(../images/letter-bg-1024x768.jpg);
  background-size: 100% 100%;
}
#my-Story h1{
  color: #03A859;
}
#my-Story p{
  text-indent: 30px;
  font-size: 20px;
  text-align: justify;
}
/* ---end-cauchuyencuachungtoi--- */

/* ---start-gioithieuchung--- */
#Gioi-thieu-chung{
    margin: 2% 12%;
    font-family: "Open";
    margin-bottom: 30px;
}
#Gioi-thieu-chung h2{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    color: #00a859;
    font-size: 36px;
}
#Gioi-thieu-chung p{
  text-indent: 30px;
  font-size: 20px;
  text-align: justify;
}
/* ---end-gioithieuchung--- */

/* ---start-about---- */
#about-banner{
background-image: url(../images/banner-about.jpg);
min-height: 250px;
background-size: cover;
}
/* ----start-about-main---- */

#about-main{
  margin: 60px 0;
}
#about-main ul{
  padding-left: 0;
}
#about-main li{
 list-style: none;
 position: relative;
 margin-bottom: 10px;
 cursor: pointer;
}
#about-main li a{
  text-decoration: none;
  position: relative;;
 }
 #about-main li p{
  position: absolute;
   width: 100%;
    color: inherit;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    letter-spacing: 1px;
    color: white;
 }
 #about-main li img{
   width: 70%;
  
 }
 #about-main li:hover a{
  cursor: pointer;
  color: #fffb94;
 }
 /* ---start-section-1--- */
.about-section-1{
  background-image:url(https://nhipcaututhien.vn/wp-content/uploads/2019/08/banner-about.jpg);
  min-height: 350px;
  object-fit:cover;
  position: relative;
}
/* ---end-section-1--- */
/* ---start-section-2--- */
.about-section-2{
  position: relative;
}
.about-section-2 ul{
  list-style: none;
 }
.about-section-2 li a{
 text-decoration: none;
 position: relative;
}
.about-section-2 img{
  max-width: 70%;
}
.about-section-2 a p{
  width: 100%;
  position: absolute;
  z-index: 9999;
  top:50%;
  left: 75%;
  transform: translate(-50%,-50%);
  font-size: 18px;
  color: white;
 }
 #about_tab-content{
  margin: auto 0;
  padding-right: 15px;
  padding-left: 30px;
  padding-top: 30px;
  background-color: #efa6cc;
  position: relative;
  padding-bottom: 40px;
 }
 #about_tab-content h3{
  color: #00a859;
  margin-bottom: 30px;
  font-size: 24px;
  letter-spacing: 2px;
  font-weight: 600;
 }
 #about_tab-content p{
  text-indent: 30px;
  font-size: 16px;
 }
/* ---end-section-2--- */
/* ---start-section-3--- */
.about-section-3 img{
  max-height: 350px;
  object-fit:cover;
}
/* ---end-section-3--- */
 /* ----end-about-main---- */
/* ---end-about---- */

/* ----start-contact---- */
#contact-banner{
  background-image: url(../images/lienhebanner.jpg);
  min-height: 170px;
  background-size: cover;
}

#banner_main-left{
  flex-direction: column;
  display: flex;
  justify-content: center;
}
#contact-main{
  padding: 0 5%;
}
#contact-main .block-img{
  position: relative;
  max-width: 80%;
    margin-left: 10%;
}
#contact-main img{
  width: 90%;
}
#contact-main figcaption{
    position: absolute;
    color: #fff;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
    margin: 0;
    width: 50%;
    text-align: left;
    padding-left: 5%;
    left: 30px;
    font-size: 12px;
}
#contact-main a {
  color: #fff;
  text-decoration: none;
}
#contact-main h2{
  font-size: 24px;
  text-align: center;
  color: #00a859;
  text-transform: uppercase ;
  line-height: 1.25;
}
#contact-main input, #contact-main textarea{
  width: 100%;
  height: 40px;
  border-radius: 0;
  margin-bottom: 10px;
  border: none;
  background-color: #DEF4FF;
  padding: 10px 20px;
  font-size: 1em;
  letter-spacing: 1px;
  font-style: italic;
  overflow: visible;
  font-family: inherit;
  font-weight: bold;
}
#contact-main .btn{
  background-color:#03AEEF ;
  color: white;
    width: 30%;
    margin-left: 34%;
    font-size: 14px;
    padding: 2% 0;
}
/* ----end-contact---- */

/* ----start-partner---- */
#partner-banner{
  background-image: url(../images/banner-partner.jpg);
  min-height:250px ;
  background-size: cover;
}
/* ----end-partner---- */

/* ----start-news-banner---- */
#news-banner{
  background-image: url(../images/tin-tuc-banner.jpg);
  min-height: 275px;
  background-size: cover;
}
/* ----end-news-banner---- */